@import 'variables.scss';
@import 'src/styles/header/_header.scss';
@import 'src/styles/rental/_rentalcard.scss';
@import 'src/styles/rental/_rentalsdetails.scss';
@import 'src/styles/forms/_form.scss';
@import 'src/styles/booking/_booking.scss';

.clickable {
  &:hover {
    cursor: pointer !important;
  }
}

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 29px;
}

.apartment {
  color: #a72da3;
}

.house {
  color: #bf1818;
}

.condo {
  color: #d68000;
}

.btn-bwm {
  background-color: $main-color;
  border-color: $main-color;
  color: white;
  padding: 15px 30px;
  font-size: 20px;

  &:hover,
  &:focus,
  &:active {
    background-color: $main-color  !important;
    border-color: $main-color  !important;
  }
}