@import 'variables.scss';
@import 'src/styles/header/_header.scss';
@import 'src/styles/rental/_rentalcard.scss';
@import 'src/styles/rental/_rentalsdetails.scss';

.page-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 29px;
}

.apartment{
  color:#a72da3;
}

.house{
  color:#bf1818;
}

.condo{
color: #d68000;
}